.header-background {
    width: 100%;
    height: 100px;
    background-color: #363C3C;
    position: fixed;
    top: 0;
    z-index: 10;
}

.app {
    width: 100vw;
    font-family: 'Source Serif Pro', serif;
}

.logo {
    width: 53px;
    height: 53px;
    position: relative;
    top: calc(50% - 53px/2);
    left: 30px;
}
