.input-box {
    width: 320px;
    float: right;
    position: relative;
    top: calc(50% - 69px/2);
    padding-right: 37px;
}
.input-text {
    background-color: #FFFFFF;
    height: 60px;
    width: 100%;
    padding: 0 0 0 15px;
    box-sizing: border-box;
    border-radius: 10px;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #363C3C;
    position: relative;
    top: calc(7px/2);
}
.input-text::placeholder {
    color: rgb(54, 60, 60);
    opacity: .5;
    font-size: 24px;
}
.input-text:hover {
    background-color: lightgrey;
}
.input-text:focus {
    outline: none;
    background-color: lightgrey;
}
@media (max-width: 1060px) {
    .input-box {
        width: 240px;
        padding-right: 50px;
    }
    .input-text {
        height: 40px;
        font-size: 18px;
        top: calc(24px/2);
    }
    .input-text::placeholder {
        font-size: 18px;
    }
}
@media (max-width: 575px) {
    .input-box {
        padding-right: 20px;
    }
}