.swatch-container {
    top: 100px;
    left: 320px;
    width: calc(100% - 320px);
    position: absolute;
}
.swatch-container ul {
    padding: 65px 0;
}
.swatch-container .list {
    width: 25%;
    list-style: none;
    float: left;
    padding-bottom: 30px;
}
.swatch {
    width: 218px;
    height: 261px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
}
.tile {
    width: 100%;
    height: 218px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.swatch span {
    font-family: 'Source Serif Pro', serif;
    font-size: 24px;
    color: #363C3C;
    display: block;
    padding: 0 20px;
    position: relative;
    top: calc(50% - 248px/2);
}
.swatch:hover {
    cursor: pointer;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.5);
}
@media (max-width: 1280px) {
    .swatch-container .list {
        width: 33%;
    }
}
@media (max-width: 1060px) {
    .swatch-container {
        left: 220px;
        width: calc(100% - 220px);
        top: 80px;
    }
    .swatch-container ul {
        padding: 35px 0;
    }
    .swatch {
        width: 150px;
        height: 175px;
    }
    .tile {
        height: 150px;
    }
    .swatch span {
        top: calc(50% - 172px/2);
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .swatch-container .list {
        width: 50%;
    }
}
@media (max-width: 575px) {
    .swatch-container .list {
        width: 100%;
    }
}